<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrador.ticservices\appdata\local\programs\python\python37\python.exe|c:\users\administrador.ticservices\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
        <directoryBrowse enabled="false" />
	</system.webServer>
	<appSettings>
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\KabasisWeb" />
		<add key="WSGI_HANDLER" value="kabasisWeb.wsgi.application" />
		<add key="DJANGO_SETTINGS_MODULE" value="kabasisWeb.settings" />
	</appSettings>
</configuration>


