{% extends "KabasisWebApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Carga Masiva de Usuarios</title>
</head>

<body>
    <section class="page-section cta" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h1 >Carga Masiva de Usuarios</h1>

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-success" type="submit">Cargar Usuarios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


{% endblock %}