{% extends "KabasisWebApp/base.html" %}

{% load static %}

{% block content %}
<section class="section-cursos">

    <h1 class="titulo-cursos"">{{ curso.nombre | upper }}</h1>
    <div class=" container"> <!-- Mantén esta modificación -->
        {% if user.tipo_usuario == "Administrador Kabasis" %}
            <div class="text-center">
                <a class="btn btn-info btn-block" href="{% url 'listar_unidad' curso.id %}"
                    style="margin-bottom: 20px; border-radius: 15%;">Administrar unidades</a>
            </div>
        {% endif %}

        <!-- Resto de tu código -->

        <div style="color: white;" class="row d-flex justify-content-center">
            <div>
                {% for unidad in unidades %}
                {% if forloop.counter <= 2 %} {# Verifica si es uno de los dos primeros elementos #} <div
                    class="outer-circle mb-3 {% if forloop.first %}zigzag{% else %}zagzig{% endif %}">
                    <!-- Código para los dos primeros botones -->
                    <div class="circular-border"></div>
                    <div class="dropdown">
                        <button class="circular-button mb-3 floating {% if forloop.first %}selected{% endif %}"
                            data-unidad-id="{{ unidad.id }}" onclick="handleButtonClick(this)" type="button"
                            id="dropdownMenuButton{{ unidad.id }}" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {% if unidad.imagen %}
                            <img src="{{ unidad.imagen.url }}" alt="{{ unidad.titulo }}">
                            {% else %}
                            <!-- Puedes agregar un texto alternativo o un icono por defecto si no hay imagen -->
                            No imagen
                            {% endif %}
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ unidad.id }}">
                            <div style="text-align: center;">
                                <h3 style="font-weight: bold;">{{ unidad.titulo }}</h3>
                                <div id="contenidoUnidad{{ unidad.id }}" class="text-center p-4 contenido-unidad">
                                    <!-- Aquí se cargarán los botones con los títulos de los contenidos -->
                                </div>
                                <!-- Agrega más opciones según sea necesario -->
                            </div>
                        </div>
                    </div>
            </div>
            {% else %}
            <div class="outer-circle mb-3 {% cycle 'zigzag' 'zagzig' %}">
                <!-- Código para los botones restantes -->
                <div class="circular-border"></div>
                <div class="dropdown">
                    <button class="circular-button mb-3" data-unidad-id="{{ unidad.id }}"
                        onclick="handleButtonClick(this)" type="button" id="dropdownMenuButton{{ unidad.id }}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if unidad.imagen %}
                        <img src="{{ unidad.imagen.url }}" alt="{{ unidad.titulo }}">
                        {% else %}
                        <!-- Puedes agregar un texto alternativo o un icono por defecto si no hay imagen -->
                        No imagen
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ unidad.id }}">
                        <div style="text-align: center;">
                            <h3 style="font-weight: 700;">{{ unidad.titulo }}</h3>
                            <div id="contenidoUnidad{{ unidad.id }}" class="text-center p-4">
                                <!-- Aquí se cargarán los botones con los títulos de los contenidos -->
                            </div>
                            <!-- Agrega más opciones según sea necesario -->
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function handleButtonClick(button) {
        var idUnidadSeleccionada = button.dataset.unidadId;

        // Realizar una solicitud AJAX al servidor para obtener los contenidos
        $.ajax({
            url: "{% url 'obtener_contenidos' %}",
            type: "GET",
            data: { unidad_id: idUnidadSeleccionada },
            dataType: "json",
            success: function (data) {
                actualizarContenidos(data, idUnidadSeleccionada);
            },
            error: function (error) {
                console.log("Error en la solicitud AJAX: ", error);
            }
        });
    }

    function actualizarContenidos(data, unidadId) {
        var contenidoDiv = $("#contenidoUnidad" + unidadId);
        contenidoDiv.empty();

        if (data.length > 0) {
            $.each(data, function(index, contenido) {
                var botonClase = contenido.visto ? "btn-success" : "btn-info";
                var botonTexto = $("<span>").text(contenido.titulo).css({"flex-grow": "1", "text-align": "left"});
                var imagen = contenido.visto ? $("<img>", {
                    src: '/media/cursos/completado.png',
                    style: 'height: 1.5em; margin-left: 10px;'
                }) : "";
    
                var boton = $("<button>")
                    .addClass(`btn ${botonClase} btn-block mb-3 d-flex align-items-center justify-content-between`)
                    .attr("data-contenido-id", contenido.id)
                    .append(botonTexto)
                    .append(imagen)
                    .on('click', function() {
                        if (contenido.video_url) {
                            window.location.href = "{% url 'ver_video' video_id=0 %}".replace('0', contenido.id);
                        } else {
                            window.location.href = "{% url 'formulario2' id=0 %}".replace('0', contenido.id);
                        }
                    });
    
                contenidoDiv.append(boton);
            });
        } else {
            contenidoDiv.append("<p>No hay contenido disponible.</p>");
        }
    }
    
</script>


{% endblock %}